nav{
    display :flex;
    align-items: center;
    justify-content: space-between;
    background-color: #050505cf;
    padding: 20px 80px;
    height : 50px;
}

.logo {
    width: 210px; 
    height: auto;
}

.navbar_links {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.navbar_links li {
    list-style: none;
    padding: 0 15px;
    position: relative;
}

.navbar_links li a {
    text-decoration: none;
    font-size: 2.0 rem;
    font-weight: 600;
    color: #00FFFF;
}