.container {
  /* display: flex; */
  /* flex-direction: column; */
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJx72mbyLgk6QJ7m5THJ2W0ZjSgIKWo-rLZQ&usqp=CAU');
  height: auto;
  background-size: cover;
  overflow: hidden;
  /* flex-direction: row; */
}

.contain_divide{
  display: flex;
  flex-direction: row;
}
.left{
  flex: 1;
  background-color: transparent;
}
.left_card{
  display: flex;
  margin: 10px 15px;
  background: #000000a2;
  color: white;
  position: sticky;
  top: 0;
  flex-direction: column;
}

.Pro_Cat{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.checkbox_group{
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
  margin-top: 0;
  justify-content: start;
  margin-left: -30%;
}
.checkbox_group label {
  font-size: 17px; /* Adjust the font size to your preference */
}
.pr_ca_heading{
  display: flex;
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 1px;
  font-style: italic;
}
.Fil_Price{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -34px;
}
.filter_head{
  display: flex;
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 1px;
  font-style: italic;
}
.right{
  flex:3;
  height: calc(100vh - 20px);
  background-color: transparent;
}
.right_card{
  display: flex;
  max-height: 100%;
  margin: 10px 5px;
  background: #0a0808d0;
  color: white;
  overflow-y: auto; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productList {
  display:flex;
flex-wrap: wrap; 
 grid-gap: 20px;
  padding: 0;
  max-height: calc(100vh - 50px);
  justify-content: center;
  /* justify-content: space-between; */
}

.productCard {
  flex-basis: 270px;
  background-color: #7b777759;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left; /* Align text to the left */
}

.productCard img {
  width:100%;
      height: 300px;
      object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.productCard h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.productCard p {
  font-size: 14px;
  margin-bottom: 10px;
}

.addToCartButton{
  padding: 10px 18px;
  font-size: 20px;
  border-radius: 30px;
  border: 2px solid black;
  background-color: transparent;
}

.addToCartButton:hover{
  padding: 10px 18px;
  font-size: 20px;
  border-radius: 30px;
  border: 2px solid black;
  color: black;
  background-color: #78e7e7;
}